@{ Layout = "~/Views/Shared/_Layout.cshtml";
                ViewBag.Title = "eTrading Home Page"; }


<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
</head>
<body>

    <div class="jumbotron">
        <h1>eTrading Platform</h1>
        <p class="lead">Welcome to our eTrading platform. Buy and sell products easily online.</p>
        <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>Register</h2>
            <form>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter your username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter your password">
                </div>
                <div class="form-group">
                    <label>User Type:</label>
                    <div class="radio">
                        <label>
                            <input type="radio" name="userType" value="customer" checked> Customer
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="userType" value="vendor"> Vendor
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Register</button>
            </form>
        </div>

        <div class="col-md-6">
            <h2>Login</h2>
            <form>
                <div class="form-group">
                    <label for="loginUsername">Username</label>
                    <input type="text" class="form-control" id="loginUsername" placeholder="Enter your username">
                </div>
                <div class="form-group">
                    <label for="loginPassword">Password</label>
                    <input type="password" class="form-control" id="loginPassword" placeholder="Enter your password">
                </div>
                <div class="form-group">
                    <label>User Type:</label>
                    <div class="radio">
                        <label>
                            <input type="radio" name="loginUserType" value="admin" checked> Admin
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="loginUserType" value="customer"> Customer
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="loginUserType" value="vendor"> Vendor
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
