
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to the E-Trading System</h2>

<div class="btn-group" aria-label="User Roles">
    <a class="btn btn-info" href="@Url.Action("Login")">Admin</a><br /><br />
    <a class="btn btn-info" href="@Url.Action("Login")">Vendor</a><br /><br />
    <a class="btn btn-info" href="@Url.Action("Login")">Customer</a>
</div>